<div>
    <h2>Gestionar Categorías</h2>
    <form [formGroup]="categoriaForm" (ngSubmit)="updateCategoria()">
      <label for="nombre_categoria">Nombre de Categoría:</label>
      <input id="nombre_categoria" formControlName="nombre_categoria" />
  
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" formControlName="descripcion"></textarea>
  
      <button type="submit" [disabled]="isLoading">Actualizar Categoría</button>
    </form>
  
    <h3>Categorías:</h3>
    <ul>
      <li *ngFor="let categoria of categorias" (click)="onSelectCategoria(categoria)">
        {{ categoria.nombre_categoria }}
      </li>
    </ul>
  
    <h3>Aprendizajes Disponibles:</h3>
    <ul>
      <li *ngFor="let aprendizaje of aprendizajes" (click)="onSelectAprendizaje(aprendizaje)">
        {{ aprendizaje.nombre_aprendizaje }}
      </li>
    </ul>
  
    <h3>Aprendizajes de la Categoría Seleccionada:</h3>
    <ul>
      <li *ngFor="let aprendizaje of nuevoCategoria.aprendizajes">
        {{ aprendizaje.nombre_aprendizaje }}
        <button (click)="removeAprendizaje(aprendizaje)">Eliminar</button>
      </li>
    </ul>
  </div>
  